{% extends "base.html" %}

{% block title %}BloodBowl{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />



{% endblock%}

{% block content %}
<h1>Let's play Blood Bowl!!</h1>

<strong class=my-5>Visitas: {{visitas}}</strong>
<br></br>
<div id=inicio>
    Blood Bowl es un juego de tablero por turnos para dos jugadores. El juego está ambientado en el mundo de Warhammer
    Fantasy poblado por razas fantásticas como humanos,enanos, goblins, elfos, orcos, etc.
    Blood Bowl combina elementos fantásticos con el deporte del fútbol americano,
    enfrentando a dos equipos (cada uno controlado por un solo «entrenador»).
    Al estilo tradicional de los juegos de estrategia, cada una de estas razas tiene características y habilidades propias 
    de las que deberán intentar sacar provecho para conseguir la victoria. Los jugadores  obtienen experiencia partido a partido,
    y desarrollan habilidades nuevas con las que mejorar su rendimiento en el campo.
</div>
<br>
<div>
    <img class=foto src="https://assets.dicebreaker.com/blood-bowl-miniatures-game-gameplay.png/BROK/resize/844%3E/format/jpg/quality/80/blood-bowl-miniatures-game-gameplay.png">
</div>

{% endblock%}