{% extends "base.html" %}

{% block title %}Equipos{% endblock %}

{% block content %}

<p><b>{{equipo.nombre}}</b></p>

<p><b>Raza: </b>{{equipo.raza}}</p>

<p><b>Descripcion:</b> {{equipo.desc}}</p>

<p><b>Jugadores:</b>

<table  border="1px solid" class="table table-dark table-striped">
     <tr>
        {% for jugador in equipo.jugador_set.all %}
         <th>{{jugador.equipo}}</th>
         {% endfor %}
     </tr>
     <tr>
    {% for jugador in equipo.jugador_set.all %}
    <td><a href="{% url 'detalle_jugador' jugador.id%}" class="text-info">{{jugador}}</a></td>
     {% endfor %}
     </tr>
</table>
</p>


<img class=foto src="{{equipo.img}}">
{% endblock%}