#mapa {
    height: 400px;
}

#body {
    background-color:gainsboro;
}

.inicio {
    font-size: medium;

}

a > img {
    margin-left: 43px;
    height: 100px;
    width: 100px;
    margin-right: 3px;
    border: 5px double rgb(0, 0, 0);
}

.foto {
    margin-right: 3px;
    border: 5px double rgb(0, 0, 0);
}

ul {
    width: 30%;
    margin: auto;
}

.pagination {
    width: 25%;
    margin: auto;
}

#tienda{
    width: 45%;
    margin: auto;
}
#mapa{
    margin-right: 3px;
    border: 5px double rgb(0, 0, 0);
}

